body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.logoCenter{
    display: block;
    width: 250px;
    text-decoration: none;
}
.img{
    width: 90px;
    height: 70px;
   
 }
.nameLogo{
    display: inline;
    width: 200px;
    height: 40px;
    text-align: left;
}
body, html{
    height: 100%;
}